
.comments {
  margin-top: 20px;
  font-size: 13px;
}

.comments-title {
  font-size: 18px;
  margin-bottom: 20px;

}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 16px;
}

.comment-form-textarea {
  width: 90%;
  height: 30px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  margin-left: 7px;
  font-size: 16px;
  padding: 4px 20px;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
  margin-bottom: 5px;
 
}

.buttons {
  margin-left: 7px;
  font-size: 16px;
  padding: 4px 160px;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  color: white;
  margin-bottom: 5px;
 
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
  margin-left: 25px;
}

.comment-right-part {
  width: 30%;
}

.comment-content {
  display: flex;

}

.comment-author {
  margin-right: 8px;
  font-size: 17px;
  color: rgb(16, 68, 151);
}

.comment-text {
  font-size: 15px;
  width: 100%;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
