body {
  background-color: #16252d;
}

.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  z-index: 1;
  /* box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%); */
}

.slick-dots.custom-indicator {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.carousel .slick-prev {
  left: 4;
  /* border-top-right-radius: 7px;
  border-bottom-right-radius: 7px; */
}

.carousel {
  width: 30%;
}

.column {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #fcfcfc;
  padding-top: 30px;
  border-radius: 5px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.carousel-cover {
  background-color: #16252d;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* margin-top: 100px; */
}
.carousel .slick-next {
  right: 4;
  background-color: transparent;
  /* border-bottom-left-radius: 7px;
  border-top-left-radius: 7px; */
}
.slick-prev::before,
.slick-next::before {
  display: none;
}

.custom {
  /* width: 10%; */
  height: 300%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

/* main overlap custom */
.custom {
  /* position: absolute; */
  z-index: 0;
  position: sticky;
}

.main {
  /* position: relative; */
  z-index: 1;
}

.custom-indicator {
  /* border: 2px solid red; */
  flex-grow: 1;
  width: 300%;
  height: 420px;
}
.custom-indicator li {
  width: 80px;
  height: 80px;
  right: 35%;
  filter: opacity(40%);
  margin-left: 60px;
}

.custom-indicator li:nth-child(4),
.custom-indicator li:nth-child(5),
.custom-indicator li:nth-child(6),
.custom-indicator li:nth-child(13),
.custom-indicator li:nth-child(14),
.custom-indicator li:nth-child(15),
.custom-indicator li:nth-child(20),
.custom-indicator li:nth-child(21),
.custom-indicator li:nth-child(22),
.custom-indicator li:nth-child(23),
.custom-indicator li:nth-child(3),
.custom-indicator li:nth-child(7) {
  visibility: hidden;
}

.custom-indicator li.slick-active {
  filter: grayscale(0%);
}
.multi__image:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.name {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #313030;
  line-height: 25px;
}

.description {
  margin-left: 40px;
  margin-top: 10px;
}

.test {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.column {
  display: flex;
}

.pic {
  margin-left: 30px;
}

.description {
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  line-height: 25px;
  margin-bottom: 15px;
  /* text-align: justify; */
}

.desig {
  width: 100%;
  height: auto;
}

.testimg {
  width: 20%;
  height: auto;
}

.a {
  text-decoration: none !important;
  color: #8f8f8f;
}

.slider {
  position: relative;
  width: 100%;
  height: 10vh;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  /* background-size: cover; */
  background-color: #16252d;
}

.upper {
  display: flex;
  justify-content: center;
}

.green-text {
  color: #29b475;
  font-size: 35px;
  margin-right: 7px;
}

.white-text {
  color: white;
  font-size: 35px;
}

.desc {
  /* margin: 20px 0; */
  margin-top: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
}

.NavbarItems {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: whitesmoke;
  box-shadow: rgba(28, 112, 73, 0.35) 0px 5px 15px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 76vw;
  justify-content: end;
  margin-right: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-links {
  color: rgb(55, 54, 54);
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #29b475;
  border: 2px solid #29b475;
  border-radius: 4px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  color: whitesmoke;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: bold;
  cursor: pointer;
  transform: all 0.5s ease;
  box-shadow: rgba(28, 112, 73, 0.35) 0px 5px 15px;
}

.navbar-logo {
  color: rgb(161, 153, 153);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.nav-links-mobile {
  display: none;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.slider {
  position: relative;
  width: 100%;
  height: 25vh;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  /* background-size: cover; */
  background-color: #16252d;
}

.upper {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 64px;
}

.desc {
  margin: 20px 0;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
}

.cta {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cta button {
  background-color: #29b475;
  color: white;
  padding: 15px 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transform: all 0.5s ease;
  border-radius: 5px;
  /* box-shadow: rgba(28, 112, 73, 0.35) 0px 5px 15px; */
}

span.white-text {
  color: white;
  font-size: 35px;
}

/* 
MEDIA QUERIES
700px - 805px - green
806px - 855px - aqua 
855px - 940px - coral
940px -960px - yellow
960px - 1120 - red
1120px - 1230px - orange
1230px - 1444px - beig
*/

/* Things to fix:
1. Heading (.green-text, .white-text, .desc)
2. card components
- carousel (.carousel-cover, .carousel
- pic and title and logo (.column, .pic, .dp) (.det, .name, .desig, .cardlogo)
- youtube icon (.description, .test, .testimg)
- description size (.content)
3. arrow allignation 
4. make the bg icons smaller (.custom .bg-icons slick-dots custom-indicator)
5. fix the read more testimonials button (.cta)
 */

/* 1390 - 1440
    1407 - 1471
   */

@media (max-width: 1471px) and (min-width: 1390px) {

  .carousel {
    width: 34%;
  }

  .custom {
    height: 350%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .carousel .slick-arrow.slick-prev {
    margin-right: 40px;
  }

  .bg-icons {
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
    border-radius: 50px;
  }

  .carousel .slick-prev {
    left: 4;
    margin-left: 20px;
  } 

  .custom-indicator li:nth-child(5),
  .custom-indicator li:nth-child(16) {
    visibility: hidden;
  }

  .custom-indicator {
    flex-grow: 1;
    width: 265%;
    height: 420px;
  }
  .custom-indicator li {
    width: 80px;
    height: 80px;
    right: 35%;
    filter: opacity(40%);
    margin-left: 60px;
  } 
}

@media (max-width: 1450px) and (min-width: 1390px) {

   .carousel {
    width: 34%;
  }

  .custom {
    /* width: 10%; */
    height: 300%;
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content:left;
  }
  

   .custom-indicator {
    /* border: 2px solid red; */
    flex-grow: 1;
    width: 299%;
    height: 450px;
  }
  .custom-indicator li {
    width: 80px;
    height: 80px;
    right: 36%;
    filter: opacity(40%);
    margin-left: 60px;
  }


/* 
  .carousel {
    width: 34%;
  }

  .custom {
    height: 290%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .carousel .slick-arrow.slick-prev {
    margin-right: 40px;
  }

  .bg-icons {
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
    border-radius: 50px;
  }

  .carousel .slick-prev {
    left: 4;
    margin-left: 20px;
  }

  .custom-indicator li:nth-child(8),
  .custom-indicator li:nth-child(13),
  .custom-indicator li:nth-child(24),
  .custom-indicator li:nth-child(12) {
    visibility: hidden;
  }

  .custom-indicator {
    flex-grow: 1;
    width: 265%;
    height: 420px;
  }
  .custom-indicator li {
    width: 80px;
    height: 80px;
    right: 40%;
    filter: opacity(40%);
    margin-left: 60px;
  }  */
}

@media (max-width: 1379px) and (min-width: 1332px) {

.carousel {
  width: 34%;
}

.custom {
  /* width: 10%; */
  height: 200%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}


 .custom-indicator {
  /* border: 2px solid red; */
  flex-grow: 1;
  width: 309%;
  height: 450px;
}
.custom-indicator li {
  width: 80px;
  height: 80px;
  right: 36%;
  filter: opacity(40%);
  margin-left: 60px;
}

/* 
  .custom-indicator li:nth-child(8),
  .custom-indicator li:nth-child(11),
  .custom-indicator li:nth-child(13),
  .custom-indicator li:nth-child(16),
  .custom-indicator li:nth-child(18),
  .custom-indicator li:nth-child(17),
  .custom-indicator li:nth-child(19),
  .custom-indicator li:nth-child(24),
  .custom-indicator li:nth-child(12) {
    visibility: hidden;
  }

  .custom-indicator {
    flex-grow: 1;
    width: 295%;
    height: 420px;
  }
  .custom-indicator li {
    width: 80px;
    height: 80px;
    right: 55%;
    filter: opacity(40%);
    margin-left: 60px;
  } */
}

/* 1291 - 1332 */
@media (max-width: 1332px) and (min-width: 1291px) {

   .carousel {
    width: 34%;
  }

  .custom {
    /* width: 10%; */
    height: 200%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  

   .custom-indicator {
    /* border: 2px solid red; */
    flex-grow: 1;
    width: 309%;
    height: 450px;
  }
  .custom-indicator li {
    width: 80px;
    height: 80px;
    right: 36%;
    filter: opacity(40%);
    margin-left: 60px;
  }

  /* .custom-indicator li:nth-child(16) {
    visibility: hidden;
  } */

}


@media (max-width: 1290px) and (min-width: 1288px) {
.carousel {
  width: 34%;
}

.custom {
  /* width: 10%; */
  height: 200%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}


 .custom-indicator {
  /* border: 2px solid red; */
  flex-grow: 1;
  width: 309%;
  height: 450px;
}
.custom-indicator li {
  width: 80px;
  height: 80px;
  right: 36%;
  filter: opacity(40%);
  margin-left: 60px;
}

}

@media (max-width: 1389px) and (min-width: 1379px) {

  .carousel {
    width: 34%;
  }
  
  .custom {
    /* width: 10%; */
    height: 200%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  
   .custom-indicator {
    /* border: 2px solid red; */
    flex-grow: 1;
    width: 309%;
    height: 450px;
  }
  .custom-indicator li {
    width: 80px;
    height: 80px;
    right: 36%;
    filter: opacity(40%);
    margin-left: 60px;
  }
}

/* @media (max-width: 1139px) and (min-width: 1287px) {
  .carousel-cover{
    background-color: orange;
  }


} */